<h1>Games#score</h1>
<ul>
  <li>score: <%=@results[:score]%></li>
  <li>translation: <%=@results[:translation]%></li>
  <li>time: <%=@results[:time]%></li>
  <li>message: <%=@results[:message]%></li>
</ul>
